.header__lang-link {
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  transition: .3s;
  margin-right: 18px;
}

.header__lang-links :last-child .header__lang-link {
  margin: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}



