.place__title {
  grid-area: place__title;
  text-align: start;
  align-self: center;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 700px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin:0 16px 0;
  }
}