.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 78px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-bottom: 64px;
  }
}